<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car price predictor</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h2 class="title">Car price predictor</h2>
    <div class="container">
        <form action="/predict" method="POST" class="enter-feature-form">
            <div class="input-group">
                <label>Brand: </label>
                <input type="text" list="brands" name="brand" value="<%= data.brand %>"/>
                <datalist id="brands">
                    <% for(let i = 0; i < brandsData.length; i++) { %>
                        <option value="<%= brandsData[i] %>"></option>
                    <% } %>
                </datalist>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label>Driven type?</label>
                    <select type="text" name="driven" value="<%= data.driven %>"/>
                        <option value="fwd">FWD</option>
                        <option value="rwd">RWD</option>
                        <option value="awd">AWD</option>
                        <option value="4wd">4WD</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>Fuel type?</label>
                    <select type="text" name="fuel_type" value="<%= data.fuel_type %>"/>
                        <option value="gas">Gas</option>
                        <option value="diesel">Diesel</option>
                        <option value="hybrid">Hybrid</option>
                        <option value="electric">Electric</option>
                    </select>
                </div>
            </div>
            
            <div class="input-row">
                <div class="input-group">
                    <label>Kilometers driven: </label>
                    <input type="text" name="km_driven" value="<%= data.km_driven %>"/>
                </div>
                <div class="input-group">
                    <label>Fuel consumption (Litres/100kms): </label>
                    <input type="text" name="fuel_consumption" value="<%= data.fuel_consumption %>"/>
                </div>
            </div>
            
            <div class="input-row">
                <div class="input-group">
                    <label>Number of doors: </label>
                    <input type="text" name="door" value="<%= data.door %>"/>
                </div>
                <div class="input-group">
                    <label>Number of seats: </label>
                    <input type="text" name="seat" value="<%= data.seat %>"/>
                </div>
            </div>
            

            <div class="input-row">
                <div class="input-group">
                    <label>Has the car been used?:</label>
                    <select type="text" name="used" value="<%= data.used %>"/>
                        <option value="1">Used</option>
                        <option value="0">Never used</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>Is the car imported or not?: </label>
                    <select type="text" name="imported" value="<%= data.imported %>"/>
                        <option value="1">Imported</option>
                        <option value="0">Not imported</option>
                    </select>
                </div>
            </div>
            
                <button> Get result </button>
        </form>
        
        <div class="response-container">
            <% if(price == 0) { %>
                <p id="response">Wondering how much your car might cost?.<br/> Just enter some information and we'll figure it out for you!</p>
            <% } else { %>
                <p id="response">Your car probably worth <%= price %> VND</p>
            <% } %>
        </div>
        
    </div>
</body>
</html>